/* ALWAYS INCL THESE @ TOP OF CSS DOCUMENT */
*   {
    box-sizing: border-box;
}

body, html {
    min-height: 100vh;
    margin: 0;
}

img {
    max-width: 100%;
}
/* END OF ALWAYS INCL */

/* --------------------
-------BACKGROUND------
-------------------- */
body{
    background: #200A3C;
}

/* --------------------
---------FONTS---------
-------------------- */
@font-face {
    font-family: 'Nada';
    src: url(assets/fonts/Nada/Nada.ttf) format('truetype');
}

@font-face {
    font-family: 'Dongle';
    src: url(assets/fonts/Dongle/Dongle-Regular.ttf) format('truetype');
}

/* --------------------
---------TEXT----------
-------------------- */
/* h1 {
    font-family: 'Nada';
    font-size: 10vw;
    font-weight: 500;
    line-height: 1.6;
} */

body {
    font-family: 'Dongle';
    font-size: 2vw;
    color: #FF9EE2;
    padding: auto;
}

h1 {
    display: flex;
    width: auto;
    height: auto;
    flex-direction: column;
    justify-content: center;
    color: #ACF5FF;

    text-align: center;
    font-family: 'Nada';
    font-size: 10vw;
    font-weight: 400;
    line-height: normal;
    margin: 0px auto;
}

h1:hover {
    transition: 0.5s;
    background: linear-gradient(270deg, #FFE875 0%, #FF7FD9 50%, #ACF5FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 10px 0px #ACF5FF, 0px 20px 0px #FF7FD9;
}

a:link {
  text-decoration: none;
  transition: 0.3s;
}

.center-top {
  position: absolute;
  top: -82%;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 10;
}

/* --------------------
--------LAYOUT---------
-------------------- */
canvas {
  display: block;
}

#image {
    max-width: 18vh;
    height: auto;
}

.whiteContainer {
    text-align: center;
    background: #F9F6EF;
    padding: 15px 15px;
    border-radius: 30px;
    border: 10px solid #F9F6EF;
    box-shadow: inset 0 0 0 1px #F576A7, 2px 4px 5px rgba(77, 8, 3, 0.2);
    width: fit-content;
}

.grid-parent-split {
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.grid-parent-3  {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-gap: 30px;
}

.wrapper {
    max-width: 1275px;
    margin: auto; 
    /* centres the container */
    padding: 80px;
}

.container {
  position: relative;
  text-align: center;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bottom {
    max-width: 100%;
    width: 100%;
    height: auto;
    z-index: -3;
}

/* --------------------
--------COLOURS--------
-------------------- */
.pink {
    color: var(--pink, #FF9EE2);
}

.yellow {
    color: var(--yellow, #FFE875);
}

.blue {
    color: var(--blue, #ACF5FF);
}

.darkPurpleGradient {
    color: var(--darkPurpleGradient, linear-gradient(180deg, #200A3C 0%, #4A3395 100%));
}

.horizontalDawnGradient {
    color: var(--horizontalDawnGradient, linear-gradient(270deg, #FFE875 0%, #FF7FD9 50%, #ACF5FF 100%));
}

.darkPurpleGradient {
    color: var(--darkPurple #200A3C);
}

.offWhite {
    color: #F9F6EF;
}

/* --------------------
--------IMAGES--------
-------------------- */
.fullSize {
    max-width: 100%;
    width: 100%;
    height: auto;
    z-index: -1;
}

.hover_image {
    display: flex;
    width: auto;
    height: auto;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    width: 100%;
    height: auto;
    z-index: 1; 
    transition: background-image 0.3s ease-in-out; 
}

    /*
Source - https://stackoverflow.com/a
Posted by Darío Pm, modified by community. See post 'Timeline' for change history
Retrieved 2025-12-08, License - CC BY-SA 4.0
*/

.hover_image:hover {text-decoration: none} /* Optional (avoid undesired underscore if a is used as wrapper) */
.hide {display:none}
/* Do the shift: */
.hover_image:hover img:first-child{display:none}
.hover_image:hover img:last-child{display:inline-block}

/* --------------------
--------NOTES--------
-------------------- */

.note {
    position: absolute;
    width: 100%;
    height: 1.5rem;
    top: -1.5rem;
    animation-name: var(--darkPurpleGradient);
    animation-timing-function: linear;
    animation-duration: 3s;
    animation-delay: 4.2s;
    animation-play-state: paused;
}


/* below is from https://codepen.io/jenning/pen/LYWJdWz */
.loader {
	--loader-size: calc(var(--block-size) / 2);
	--loader-size-half: calc(var(--loader-size) / 2);
	--loader-size-half-neg: calc(var(--loader-size-half) * -1);
	--light-color: rgba(255, 255, 255, 0.3);
  --dot-size: 5px;
  --dot-size-half: calc(var(--dot-size) / 2);
  --dot-size-half-neg: calc(var(--dot-size-half) * -1);
	
	display: block;
	position: relative;
	width: var(--loader-size);
	display: grid;
	place-items: center;
	color: white;
}

.loader::before,
.loader::after {
	content: '';
	position: absolute;
}

/**
	loader--4
**/
.loader--4 {
	--anim-duration: 0.5s;
	aspect-ratio: 1 / 1;
	perspective: 50vmin;
	transform-style: preserve-3d;
	transform: rotateX(55deg);
}

.loader--4::before,
.loader--4::after {
	width: 50%;
	aspect-ratio: 1 / 1;
	border: 1px solid currentColor;
	top: 25%;
	left: 25%;
	border-radius: 50%;
	animation: loader-4 var(--anim-duration) cubic-bezier(0.07, 0.59, 0.56, 0.88) infinite;
}

.loader--4::after {
	animation-delay: calc(var(--anim-duration) / 2 * -1);
}

@keyframes loader-4 {
	0% {
		transform: scale(0.2) translateZ(-8vmin);
	}
	
	0%, 100% {
		opacity: 0;
	}
	
	66% {
		opacity: 0.8;
		transform: scale(1.2) translateZ(6vmin);
	}
	
	100% {
		transform: scale(1.8) translateZ(2vmin);
	}
}

/**
	loader--5
**/
.loader--5 {
	--tilt-deg: 40deg;
	--anim-duration: 0.6s;
	aspect-ratio: 1 / 1;
	perspective: 50vmin;
	transform-style: preserve-3d;
	animation: loader-5-1 calc(var(--anim-duration) * 3) linear alternate-reverse infinite;
}


/* from Sadness on Code Pen --> https://codepen.io/sadness97/pen/mdOXzNW */
	@-webkit-keyframes snowflakes-fall {
		0% {
			top: -10%
		}
		100% {
			top: 100%
		}
	}
	
	@keyframes snowflakes-fall {
		0% {
			top: -10%
		}
		100% {
			top: 100%
		}
	}
	
	.snowflake {
		position: fixed;
		top: -10%;
		z-index: -2;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		-webkit-animation-name: snowflakes-fall;
		-webkit-animation-duration: 10s, 3s;
		-webkit-animation-timing-function: linear;
		-webkit-animation-iteration-count: infinite;
		-webkit-animation-play-state: running;
		animation-name: snowflakes-fall;
		animation-duration: 10s, 3s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		animation-play-state: running;
        animation-range-start: 100px;
	}
	
	.snowflake {
        top: 30%;
        max-width: 100%;
        width: 10vh;
        height: auto;
		left: 25%;
		-webkit-animation-delay: 3s, 2s;
		animation-delay: 3s, 2s
	}
	
	.snowflake:nth-of-type(2) {
		left: 60%;
		-webkit-animation-delay: 1s, 2s;
		animation-delay: 2s, 2s
	}