/* ALWAYS INCL THESE @ TOP OF CSS DOCUMENT */
*   {
    box-sizing: border-box;
}

body, html {
    min-height: 100vh;
    margin: 0;
}

img {
    max-width: 100%;
}
/* END OF ALWAYS INCL */

/* --------------------
-------BACKGROUND------
-------------------- */
body{
    background: var(--darkPurpleGradient, linear-gradient(180deg, #200A3C 0%, #4A3395 100%));
}

/* --------------------
---------FONTS---------
-------------------- */
@font-face {
    font-family: 'Nada';
    src: url(assets/fonts/Nada/Nada.ttf) format('truetype');
}

@font-face {
    font-family: 'Dongle';
    src: url(assets/fonts/Dongle/Dongle-Regular.ttf) format('truetype');
}

/* --------------------
---------TEXT----------
-------------------- */
h1 {
    font-family: 'Nada';
    font-size: 10vw;
    font-weight: 500;
    line-height: 1.6;
}

body {
    font-family: 'Dongle';
    font-size: 2vw;
    color: #ACF5FF;
    padding: auto;
}

/* --------------------
--------LAYOUT---------
-------------------- */
.primary-navBG {
    text-align: center;
    background: #F9F6EF;
    padding: 15px 15px;
    border-radius: 30px;
    border: 10px solid #F9F6EF;
    box-shadow: inset 0 0 0 1px #F576A7, 2px 4px 5px rgba(77, 8, 3, 0.2);
    width: fit-content;
}

/* --------------------
--------COLOURS--------
-------------------- */
.pink {
    color: var(--pink, #FF9EE2);
}

.yellow {
    color: #FFE8A3;
}

.blue {
    color: #F9A8BF;
}

.darkPink {
    color: #F576A7;
}

.choco {
    color: #923B10;
}

.brown {
    color: #4D0803;
}

.offWhite {
    color: #F9F6EF;
}

.green {
    color: #B9CB5F;
}

/* --------------------
--------IMAGES--------
-------------------- */
.fullSize {
    max-width: 100%;
    width: 100%;
    height: auto;
    z-index: -1;
}