/* ALWAYS INCL THESE @ TOP OF CSS DOCUMENT */
*   {
    box-sizing: border-box;
}

body, html {
    min-height: 100vh;
    margin: 0;
}

img {
    max-width: 100%;
}
/* END OF ALWAYS INCL */

/* --------------------
-------BACKGROUND------
-------------------- */
body{
    background: var(--dark-purple-gradient, linear-gradient(180deg, #200A3C 0%, #4A3395 100%));
}

/* --------------------
---------FONTS---------
-------------------- */
@font-face {
    font-family: 'Nada';
    src: url(assets/fonts/Nada/Nada.ttf) format('truetype');
}

@font-face {
    font-family: 'Dongle';
    src: url(assets/fonts/Dongle/Dongle-Regular.ttf) format('truetype');
}

/* --------------------
------TEXT LAYOUT------
-------------------- */
h1 {
    font-family: 'Nada';
    font-size: 5vw;
    font-weight: 500;
    line-height: 1.6;
}

body {
    font-family: 'Dongle';
    font-size: 1.5vw;
    color: #ACF5FF;
    padding: auto;
}